.nearbyList {
  height: calc(100% - 60px);
  overflow: auto;
}

.error {
  text-align: center;
  padding: 40px 20px;
}
.loading {
  text-align: center;
  padding: 10px 0;
}

.button {
  padding: 40px 0;
}
