.smallButton {
  padding: 3px 7px;
  border: 1px solid #5172c9;
  border-radius: 8px;
  background-color: transparent;

  text-align: center;
  color: #5172c9;

  height: 32px;
}

.smallButton span {
  display: inline-block;
  line-height: 15px;
  font-size: 15px;
}

.active {
  background: #5172c9;
  color: white;
}
