.searchInput {
  display: flex;
  flex-direction: column;
}

.select {
  margin: 24px 0px;
}

@media (min-width: 600px) {
  .searchInput {
    flex-direction: row;
    align-items: center;
  }
  .select {
    flex-grow: 1;
  }
  .button {
    flex-basis: 150px;
    margin-left: 10px;
  }
}

@media (min-width: 900px) {
  .button {
    margin-left: 20px;
  }
  .select {
    margin: 30px 0px;
  }
}
