.countyAttractions {
  background-color: #e5e5e5;
  padding: 0 20px;
  min-height: calc(100% - 116px);
}

.countyAttractionsContent {
  max-width: 900px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .countyAttractions {
    min-height: calc(100% - 126px);
  }
}
