.footer{
    background-color: #F2F2F2;
    padding:24px 20px 0px;
    color:#4F4F4F
}

.footer h4{
    color: #F79C31;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.footer p{
    font-size: 12px;
    font-weight: Regular;
    line-height: 20px;
}

.copyright{
    padding:24px 0px;
}